@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  height: 100vh;
  justify-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  align-content: baseline;
}

[data-theme="dark"]>body {
  background-color: #0f1a2f;
  color: #fff;
}